.menu {
    -fx-background-color: #d5951d;
    -fx-background-image: url('images/menu2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover, auto;
}

.btnMenu {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 28;
    -fx-text-fill: #fff;
    -fx-background-image: url('images/board.png');
    -fx-font-family: "Lato Black";
}

.game  {
    -fx-background-color: #d5951d;
    -fx-background-image: url('images/game.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: cover, auto;
}

.btnRoll {
    -fx-background-color: #994e4f;
    -fx-border-width: 1;
    -fx-border-color: #000;
    -fx-text-fill: #fff;
}

.btnMenu:hover, .btnRoll:hover {
    -fx-text-fill: #000;
}

.slider {
    -fx-font-size: 32;
    -fx-control-inner-background: #d5951d;
}